@import url("Synopsis.css");
@import url("Diversity.css");
@import url("character.css");
@import url("Scene.css");
@import url("Behind.css");
/* line 7, ../sass/stylesheet.scss */
body {
  background-color: white;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 11, ../sass/stylesheet.scss */
body #cover {
  width: 100%;
  text-align: center;
}
